@model IEnumerable<StaticConsulting.Model.Services.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Services</h2>

<p>
</p>

<ul>
@foreach (var item in Model) {
 
    <li>@Html.ActionLink(item.Name,"Details","Service",new {item.Id},null)</li>

}
</ul>
