<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="CherishedPetBoarding.Model.Properties.Settings.cpb"
      connectionString="Data Source=|DataDirectory|\cpb.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="CherishedPetBoarding.Test.Properties.Settings.SQLConn"
    connectionString="Data Source=RITTER-PC;Initial Catalog=CPB;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>