@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>About Static Software Consulting</h1>
</hgroup>

<article>
    <p>
        Static Software Consulting (SSC) is a professional software engineering and consulting firm that seeks to earn your business and become your partner.  For over 2 decades, SSC has understood that our job is to listen to our clients, understand their  requirements, develop and deliver software engineering solutions on time and within budget. 
The SSC solutions team is talented, diverse and professional.  SSC will meet or exceed your requirements with the our staff of professionals, using the team best suited to fulfill your needs.

SSC provides consulting services, turnkey projects and software solutions.  Our software engineers have the ability to seamlessly integrate innovative software, cutting-edge hardware, and experienced, insightful consulting into one package. The result is a powerful, comprehensive solution 
    </p>
</article>