@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Static Software Consulting</h1>
            </hgroup>
            <p>
                If you have the need to update a legacy application, add new software, or troubleshoot existing software applications, you've found your
                solution. With over 20 years of experience with developing software, installing and maintaining software, and hardware integration we have
                a solid understanding of mission critical application performance. We can make the software you own work for you instead of against you.
            </p>
            <p>
                We specialize in Microsoft Technologies for both the desktop and internet. The list of software that we focus on is Microsoft ASP.NET, C#, MS SQL Server,
                MS Exchange, Windows Servers, Windows Desktop, and MS Entity Framework.
            </p>
        </div>
    </section>
}
<h3>We can...</h3>
<ol>
    <li>Help you get your products to market faster</li>
    <li>Enhance and maintain your enterprise applications</li>
    <li>Step in at any stage of the development lifecycle</li>
    <li>Augment your staff with hard-to-find IT talent</li>
    <li>Understand your industry and local market</li>
</ol>
